<p id="notice"><%= notice %></p>

<% @resource.categories.each do |category| %>
  <%= category.name%>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
