<p id="notice"><%= notice %></p>
<% if current_user %>
    <%=current_user.email%>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true } %>
<% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
<% end %> 
<h1 class="generic--title">Technologies</h1>
<div class="generic--search"> <input type="text"></div>

<div class="generic--grid">
  <% @technologies.each do |technology| %>
    <%= render technology %>
  <% end %>
</div>

<% if current_user %>
  <%= link_to 'New Technology', new_technology_path %>
<% end %> 
